* text=auto eol=lf
*.cs text eol=lf
*.csproj text eol=lf
*.slnx text eol=lf
*.json text eol=lf
*.cshtml text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.xdt text eol=lf
*.css text eol=lf
*.png binary
