<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*"
           modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <!--
      HttpPlatformHandler launches TempTrimmer.exe and proxies all requests to it.
      %HTTP_PLATFORM_PORT% is set by HttpPlatformHandler before the process starts;
      ASPNETCORE_URLS tells Kestrel which address to listen on.
    -->
    <httpPlatform processPath=".\TempTrimmer.exe"
                  stdoutLogEnabled="false"
                  startupTimeLimit="60"
                  requestTimeout="00:04:00">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_URLS" value="http://127.0.0.1:%HTTP_PLATFORM_PORT%" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
